<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <header>
        <h1>Flask Project</h1>
        <nav>
            <a href="{{url_for('home')}}">Home</a> |
            {% if "username" in session %}
                <a href="{{url_for('welcome')}}">Dashboard</a> |
                <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
                <a href="{{url_for('home')}}">Login</a>
            {% endif %}
        </nav>
        <hr>
    </header>

    <main>
        {%block content %}{% endblock %}
    </main>

    <footer>
        <hr>
        <p>@copy; Sarthak</p>
    </footer>
    
</body>
</html>
