<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Feedback{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>Feedback Page</h1>
    <a href="/feedback" style="color:white;">Feedback</a>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, msg in messages %}
                <li class="{{ category }}">{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    &copy; 2026 Haryana
</footer>

</body>
</html>
